body {
  background-color: #fff;
  color: #312b41;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #0000ee;
}

a:visited {
  color: #0000ee;
}

.topSection {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 12px;
  padding-top: 20px;
  min-width: 352px;
}
#welcome,
#settings {
  padding-left: 20px;
}
.welcomeInput {
  padding: 20px;
}

.header {
  font-size: 24px;
  font-weight: bold;
  padding-right: 12px;
}

.header-suffix {
  font-size: 12px;
  color: grey;
}

.settingsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.settingsItemNoPadding{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left:20px;
  padding-right:20px
}

label {
  white-space: nowrap;
}

input,
select {
  flex: 2;
  margin-left: 12px;
  padding: 4px;
  border: 1px solid #312b41;
  border-radius: 4px;
}

button {
  width: 52px;
  height: 28px;
  background-color: #312b41;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 4px 12px;
  margin-left: 12px;
  cursor: pointer;
}

button:hover {
  background-color: #414a4c;
}

#info {
  font-size: 12px;
  color: grey;
  padding: 12px;
}

.clearStorage {
  text-align: right;
  padding-right: 20px;
}

#speedValue {
  font-weight: bold;
  width: 50px;
  text-align: center;
  font-size: 16px;
}

#speedInput {
  width: 150px;
}

.shortcut {
  font-family: monospace;
  font-weight: bold;
}